@import 'variables';

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px 20px;
    margin: 10px;
    background-color: $postal-blue;
    color:white;
}

.btn-about {
    padding:10px 5px;
}


.btn-status--active {
    span::after {
        content: '\0000a0\2713';
    }
}

.btn-back {
    padding:10px 5px;

    &--hidden{
        visibility: hidden;
    }
}

.btn-removed {
    background-color:red;
}

.btn-present {
    background-color: green;
}

.btn-save:disabled {
    background-color: #999;
    cursor: not-allowed;

}

.btn-photo {
    &--hidden {
        display: none;
    }
}
