@import 'variables';

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 32px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;

    h4 {
        margin: 0 0 5px;
    }
    div {
        font-size: 12px;

        span {
            border-radius: 50%;
            display: inline-block;

            height: 10px;
            margin-right: 5px;
            width: 10px;

            &.legend-item-box {
                border: 1px solid $postal-blue; 
                background-color: transparent;   
            }

            &.legend-item-present {
                background-color: $postal-blue;   
            }

            &.legend-item-removed {
                background-color: #d7191c;   
            }

            &.legend-item-inoperable {
                background-color: #fdae61;   
            }
        }
    }
}
