@import 'variables';

.modal {
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .modal__background {
    display: block;
    background-color: darken($shadow, 50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    text-align: center;
    transition: opacity 0.3s ease-out;
  }
  
  .modal--visible {
    visibility: visible;
  }
  
  .modal__background--visible {
    display: inherit;
    opacity: 0.8;
  }
  
  .modal__body {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%), translateY(-50%);
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 2px 2px 5px darken($shadow, 80%);
    padding: 20px;
    opacity: 0;
    z-index: 9999;
    width: 90%;
    min-height: 150px;
    will-change: opacity;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal__body--visible {
    opacity: 1;
  }
  
  .modal-continue-btn {
    margin: 0 auto;
    width: 100px;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    text-align: center;
    color: white;
    background-color: $postal-blue;
  }
  
  .modal-title {
    margin-top: 0;
    text-align: center;
  }