@import 'variables';
@import 'resets';
@import 'button';
@import 'snack';
@import 'modal';


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.header {
    width: 100vw;
    height: $header-height;
    background-color:$postal-blue;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.title {
    margin:0px 5px;
    padding:0;
    line-height: $header-height;
    font-size: 18px;
    color:white;
}

main {
    display: flex;
    flex-direction: column;
}

.data-entry-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$header-height});
    width: 100vw;
    margin: 10px;
    overflow-y: auto;
}

.collection-box-info {
    display: flex;
    flex-direction: column;
    align-self: center;

    p {
        margin: 0px;
    }
}

.data-entry-container--hidden {
    display: none;

}

.overview-container {
    height: calc(100vh - #{$header-height});
    width: 100vw;
    overflow-y: auto;
}

.btn-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview-container--hidden {
    display: none;
}

.media-row--hidden {
    display: none;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}
